table {
    box-shadow: 0px 0px 5px rgb(218, 218, 218);
}

table:hover {
    background-color: white !important;
}

table td span {
    text-align: center;
}

table th {
    font-weight: 500;
}

table th:first-child {
    text-align: center;
}

.column-1 {
    width: 35%;
    color: #419aff;
}

.column-2, .column-3 {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgb(196, 196, 196);
}

.icon {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgb(196, 196, 196);
}

.dropdown {
    float: right;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.dropdown-toggle {
    background-color: white;
    color: #007bff;
    font-weight: bold;
}

.dropdown-toggle:hover {
    background-color: white !important;
    color: #1a74d4;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:hover {
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
    color: #1a74d4;
}

.dropdown-toggle::after {
    display: none;
}

.table td, .table th {
    padding: .45rem;
    border-top: none;
}

.basic {
    text-align: center !important;
    margin: 0 auto !important;
    padding: 10px 10px !important;
}

.hide {
    display: none;
}

@media only screen and (max-width:522px) {
    .column-1 {
        width: 40%;
    }
    .table td, .table th {
        padding: 0.45rem;
        border-top: none;
        font-size: 14px;
    }
    th:last-child {
        text-align: center;
    }
    .dropdown {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .dropdown-toggle {
        padding: 0px 5px 4px 5px;
    }
    .dropdown-item {
        font-size: 14px;
    }
    .basic {
        font-size: 14px;
    }
}

@media only screen and (max-width:420px) {
    .table td, .table th {
        font-size: 12px;
    }
    .column-1 {
        width: 35%;
    }
    .dropdown-item {
        font-size: 12px;
    }
    .basic {
        font-size: 12px;
    }
}